services:
  postgres:
    image: postgres:15-alpine
    restart: always
    container_name: postgres
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: real_time_collaborative_workspace
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-postgres} -d real_time_collaborative_workspace"]
      interval: 5s
      timeout: 5s
      retries: 5

  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      # Use INTERNAL for api/worker, EXTERNAL for your laptop
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: api
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
      mongo:
        condition: service_started
      redis:
        condition: service_started
      kafka:
        condition: service_started
    env_file:
      - ../.env
    ports:
      - "4000:4000"
    command: >
      sh -c "npx prisma migrate deploy && node dist/server.js"

  worker:
    build:
      context: ..
      dockerfile: docker/Dockerfile.worker
    container_name: worker
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
      mongo:
        condition: service_started
      kafka:
        condition: service_started
    env_file:
      - ../.env
    command: >
      sh -c "npx prisma migrate deploy && node dist/infrastructure/kafka/job.worker.js"

volumes:
  pgdata:
  mongodata: